.home-layout{
    width: 100vw;
}

.main-layout, .right-layout{
    width: 100%;
    padding: 0;
    border-right: 1px solid #d1d1d1;
    margin: 0;
    
}

.whiteboardlayout{
    width: 100%;
    height: 89vh;
    text-align: start;
}

.header{
    padding: 20px 0px;
}

.resource-card{
    display: inline-flex;
    justify-content: center;
   align-items: center;
   text-align: start;
    width: 100%;
}

.card-foot{
    margin: 0;
    padding: 0;
}

.main-layout::-webkit-scrollbar, .right-layout::-webkit-scrollbar, .lecture-center-layout::-webkit-scrollbar{
    width: 10px;
    background-color: white;
}

.main-layout::-webkit-scrollbar-thumb, .right-layout::-webkit-scrollbar-thumb, .lecture-center-layout::-webkit-scrollbar-thumb{
    width: 10px;
    background-color: rgb(199, 198, 196);
    height: 40px;
}

.lecture-center-layout{
    border-right: 1px solid #d1d1d1;
}


.home-feed{
    width: 100%;
    display: inline-flex;
    padding: 0;
    margin: 0;
    justify-content: center;
    flex-direction: column;
    align-items: center;   
    
}

.home-feed::-webkit-scrollbar{
    width: 5px;
}