.home-layout{
    width: 100vw;
}

.main-layout, .right-layout{
    width: 100%;
    padding: 0;
    margin: 0;
    
}

.header{
    padding: 20px 0px;
}

.lecturer-card{
    display: inline-flex;
    justify-content: center;
   align-items: center;
   text-align: start;
    width: 100%;
}

.card-foot{
    margin: 0;
    padding: 0;
}

.main-layout::-webkit-scrollbar, .right-layout::-webkit-scrollbar{
    width: 10px;
    background-color: white;
}

.main-layout::-webkit-scrollbar-thumb, .right-layout::-webkit-scrollbar-thumb{
    width: 10px;
    background-color: rgb(250, 245, 240);
}


.home-feed{
    /* height: 75vh; */
    width: 100%;
    display: inline-flex;
    /* overflow-y: scroll; */
    padding: 0;
    margin: 0;
    justify-content: center;
    flex-direction: column;
    align-items: center;   
    
}

.home-feed::-webkit-scrollbar{
    width: 5px;
}